<!doctype html>

<html ng-app="taskboardApp">

<head>
    <title>Outlook Task Board</title>
    <meta http-equiv="X-UA-Compatible" content="IE=11">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/taskboard.css">

    <!-- scripts -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/sortable.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/minify.json.js"></script>
    <script src="lib/deep-diff-0.3.8.min.js"></script>
    <script src="js/version.js"></script>
    <script src="js/exchange.js"></script>
    <script src="js/app.js"></script>

</head>

<body ng-controller="taskboardController" ng-init="init()">

    <div ng-if="!isBrowserSupported">
        <h1>Sorry, this app can only be run in Internet Explorer or as the home page of a tasks folder in Outlook</h1>
    </div>
        
    <div ng-if="isBrowserSupported" class="taskboard container-fluid">

        <!-- header bar -->
        <section id="headerbar" class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-addon" ng-click="switchToAppMode();">
                        <strong>Outlook Taskboard</strong>
                    </div>
                    <div class="input-group-addon">
                        <button id="refreshbutton" class="btn btn-default btn-xs" aria-label="Refresh" type="button" ng-click="initTasks();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    </div>
                    <div ng-show="(filter.search != '')" class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Clear" type="button" ng-click="filter.search = ''"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                    <input type="text" name="search" ng-model="filter.search" class="form-control" placeholder="Filter" />
                    <div class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Report" type="button" ng-click="createReport();"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></button>
                    </div>
                    <div class="input-group-addon">
                            <span class="glyphicon" ng-class="{ 'glyphicon-globe' : filter.private == privacyFilter.all.value, 'glyphicon-lock' : filter.private == privacyFilter.private.value, 'glyphicon-briefcase' : filter.private == privacyFilter.public.value }" aria-hidden="true"></span>                                  
                            <select class="btn btn-default btn-xs" ng-model="filter.private"> 
                            <option value={{privacyFilter.all.value}}>{{privacyFilter.all.text}}</option>
                            <option value={{privacyFilter.private.value}}>{{privacyFilter.private.text}}</option>
                            <option value={{privacyFilter.public.value}}>{{privacyFilter.public.text}}</option>
                        </select>
                    </div>
                    <div class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Config" type="button" ng-click="switchToConfigMode();"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span></button>
                    </div>
                    <div class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Help" ng-click="switchToHelpMode();"><strong>?</strong></button>
                    </div>
                </div>
            </div>
            <div ng-if="display_message">
                <p> <strong>A newer version is available: {{version_number}} (your version: {{config.VERSION}})</strong></p>
            </div>
        </section>

        <!-- tasklanes section -->
        <section ng-if="inAppMode()" class="row">

            <!-- backlog lane -->
            <div ng-if="( config.BACKLOG_FOLDER.ACTIVE )" class="tasklane col-md-3 col-sm-4 col-xs-6" ng-class=" { 'col-lg-100' : folders.count === 1, 'col-lg-50' : folders.count === 2, 'col-lg-33' : folders.count === 3, 'col-lg-25': folders.count === 4, 'col-lg-20': folders.count === 5 }">
                <div class="panel panel-default">
                    <header class="panel-heading-todo">
                        <h5>{{ config.BACKLOG_FOLDER.TITLE }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('backlog');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            <span class="label label-info">{{ backlogTasks.length }}</span>
                            </span>
                        </h5>
                    </header>
                    <ul id="backlogList" ui-sortable="sortableOptions" ng-model="filteredBacklogTasks" ng-class=" { 'tasklist-default' : !display_message, 'tasklist-message' : display_message }" class="panel-body list-unstyled">
                        <li ng-repeat="task in filteredBacklogTasks" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }"
                            ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-if="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:config.DATE_FORMAT }}) </span>
                            </header>
                            <div class="panel-body"> {{ task.notes }} </div>
                            <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                <div ng-show="( config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.OWNER )"><span class="glyphicon glyphicon-user"></span> {{ task.owner }} </div>
                                <div ng-show="( config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.PERCENT )" class="pull-right"> {{ task.percent }}%</div>
                                <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )" class="glyphicon glyphicon-lock"></div>
                                <div ng-show="(task.categories != '')" class="pull-left"><span class="glyphicon glyphicon-tag"></span>
                                    <span ng-repeat="cat in task.categories"><strong ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                </div>
                                <div ng-show="( config.BACKLOG_FOLDER.DISPLAY_PROPERTIES.TOTALWORK )" ><span class="glyphicon glyphicon-time"></span> {{ task.totalwork }} </div>
                                <span class="btn-group btn-group-xs">
                                    <button ng-show="(task.oneNoteURL != '')" class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,backlogTasks,filteredBacklogTasks, true)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- backlog lane  -->


            <!-- next lane -->
            <div ng-if="( config.NEXT_FOLDER.ACTIVE )" class="tasklane col-md-3 col-sm-4 col-xs-6" ng-class=" { 'col-lg-100' : folders.count === 1, 'col-lg-50' : folders.count === 2, 'col-lg-33' : folders.count === 3, 'col-lg-25': folders.count === 4, 'col-lg-20': folders.count === 5 }">
                <div class="panel panel-default">
                    <header class="panel-heading-next">
                        <h5>{{ config.NEXT_FOLDER.TITLE }}
                            <span class="pull-right">
                                <button ng-if="( config.NEXT_FOLDER.LIMIT == 0 || nextTasks.length < config.NEXT_FOLDER.LIMIT )" class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('next');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            <span class="label label-info">{{ nextTasks.length }}</span> <span ng-if="( config.NEXT_FOLDER.LIMIT > 0 )"
                                class="label label-primary">{{ config.NEXT_FOLDER.LIMIT }}</span>
                            </span>
                        </h5>
                    </header>
                    <ul id="nextList" ui-sortable="sortableOptions" ng-model="filteredNextTasks" ng-class=" { 'tasklist-default' : !display_message, 'tasklist-message' : display_message }" class="panel-body list-unstyled">
                        <li ng-repeat="task in filteredNextTasks" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }"
                            ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-if="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:config.DATE_FORMAT }}) </span>
                            </header>
                            <div class="panel-body"> {{ task.notes }} </div>
                            <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                <div ng-if="( config.NEXT_FOLDER.DISPLAY_PROPERTIES.OWNER )"><span class="glyphicon glyphicon-user"></span> {{ task.owner }} </div>
                                <div ng-if="( config.NEXT_FOLDER.DISPLAY_PROPERTIES.PERCENT )" class="pull-right"> {{ task.percent }}%</div>
                                <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )" class="glyphicon glyphicon-lock"></div>
                                <div ng-if="(task.categories != '')" class="pull-left"><span class="glyphicon glyphicon-tag"></span>
                                    <span ng-repeat="cat in task.categories"><strong ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                </div>
                                <div ng-if="( config.NEXT_FOLDER.DISPLAY_PROPERTIES.TOTALWORK )" ><span class="glyphicon glyphicon-time"></span> {{ task.totalwork }} </div>
                                <span class="btn-group btn-group-xs">
                                    <button ng-if="(task.oneNoteURL != '')" class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,nextTasks,filteredNextTasks, true)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- next lane -->

            <!-- inprogress lane -->
            <div ng-if="( config.INPROGRESS_FOLDER.ACTIVE )" class="tasklane col-md-3 col-sm-4 col-xs-6" ng-class=" { 'col-lg-100' : folders.count === 1, 'col-lg-50' : folders.count === 2, 'col-lg-33' : folders.count === 3, 'col-lg-25': folders.count === 4, 'col-lg-20': folders.count === 5 }">
                <div class="panel panel-default">
                    <header class="panel-heading-progress">
                        <h5>{{ config.INPROGRESS_FOLDER.TITLE }}
                            <span class="pull-right">
                                <span class="label label-info">{{ inprogressTasks.length }}</span>                            <span ng-if="( config.INPROGRESS_FOLDER.LIMIT > 0 )" class="label label-primary">{{ config.INPROGRESS_FOLDER.LIMIT }}</span>
                            </span>
                        </h5>
                    </header>
                    <ul id="inprogressList" ui-sortable="sortableOptions" ng-model="filteredInprogressTasks" ng-class=" { 'tasklist-default' : !display_message, 'tasklist-message' : display_message }" class="panel-body list-unstyled">
                        <li ng-repeat="task in filteredInprogressTasks" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }"
                            ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-if="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:config.DATE_FORMAT }}) </span>
                            </header>
                            <div class="panel-body"> {{ task.notes }} </div>
                            <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                <div ng-if="( config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.OWNER )"><span class="glyphicon glyphicon-user"></span> {{ task.owner }} </div>
                                <div ng-if="( config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.PERCENT )" class="pull-right"> {{ task.percent }}%</div>
                                <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )" class="glyphicon glyphicon-lock"></div>
                                <div ng-if="(task.categories != '')" class="pull-left"><span class="glyphicon glyphicon-tag"></span>
                                    <span ng-repeat="cat in task.categories"><strong ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                </div>
                                <div ng-if="( config.INPROGRESS_FOLDER.DISPLAY_PROPERTIES.TOTALWORK )" ><span class="glyphicon glyphicon-time"></span> {{ task.totalwork }} </div>
                                <span class="btn-group btn-group-xs">
                                        <button ng-if="(task.oneNoteURL != '')" class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,inprogressTasks,filteredInprogressTasks, true)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- inprogress lane -->

            <div class="clearfix visible-sm-block"></div>

            <!-- waiting lane -->
            <div ng-if="( config.WAITING_FOLDER.ACTIVE )" class="tasklane col-md-3 col-sm-4 col-xs-6" ng-class=" { 'col-lg-100' : folders.count === 1, 'col-lg-50' : folders.count === 2, 'col-lg-33' : folders.count === 3, 'col-lg-25': folders.count === 4, 'col-lg-20': folders.count === 5 }">
                <div class="panel panel-default">
                    <header class="panel-heading-waiting">
                        <h5>{{ config.WAITING_FOLDER.TITLE }}
                            <span class="pull-right">
                                <span class="label label-info">{{ waitingTasks.length }}</span>
                            <span ng-if="( config.WAITING_FOLDER.LIMIT > 0 )" class="label label-primary">{{ config.WAITING_FOLDER.LIMIT }}</span>
                            </span>
                        </h5>
                    </header>
                    <ul id="waitingList" ui-sortable="sortableOptions" ng-model="filteredWaitingTasks" ng-class=" { 'tasklist-default' : !display_message, 'tasklist-message' : display_message }" class="panel-body list-unstyled">
                        <li ng-repeat="task in filteredWaitingTasks" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }"
                            ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-if="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">(Due: {{ task.duedate | date:config.DATE_FORMAT }}) </span>
                            </header>
                            <div class="panel-body"> {{ task.notes }} </div>
                            <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                <div ng-if="( config.WAITING_FOLDER.DISPLAY_PROPERTIES.OWNER )"><span class="glyphicon glyphicon-user"></span> {{ task.owner }} </div>
                                <div ng-if="( config.WAITING_FOLDER.DISPLAY_PROPERTIES.PERCENT )" class="pull-right"> {{ task.percent }}%</div>
                                <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )" class="glyphicon glyphicon-lock"></div>
                                <div ng-if="(task.categories != '')" class="pull-left"><span class="glyphicon glyphicon-tag"></span>
                                    <span ng-repeat="cat in task.categories"><strong ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                </div>
                                <div ng-if="( config.WAITING_FOLDER.DISPLAY_PROPERTIES.TOTALWORK )" ><span class="glyphicon glyphicon-time"></span> {{ task.totalwork }} </div>
                                <span class="btn-group btn-group-xs">
                                        <button ng-if="(task.oneNoteURL != '')" class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,waitingTasks,filteredWaitingTasks, true)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- waiting lane -->

            <!-- completed lane -->
            <div ng-if="( config.COMPLETED_FOLDER.ACTIVE )" class="tasklane col-md-3 col-sm-4 col-xs-6" ng-class=" { 'col-lg-100' : folders.count === 1, 'col-lg-50' : folders.count === 2, 'col-lg-33' : folders.count === 3, 'col-lg-25': folders.count === 4, 'col-lg-20': folders.count === 5 }">
                <div class="panel panel-default">
                    <header class="panel-heading-completed">
                        <h5>{{ config.COMPLETED_FOLDER.TITLE }}
                            <span class="pull-right">
                                <span class="label label-info">{{ completedTasks.length }}</span>
                            </span>
                        </h5>
                    </header>
                    <ul id="completedList" ui-sortable="sortableOptions" ng-model="completedTasks" ng-class=" { 'tasklist-default' : !display_message, 'tasklist-message' : display_message }" class="panel-body list-unstyled">
                        <li ng-repeat="task in filteredCompletedTasks" class="task panel task-completed">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span class="pull-right">(Completed: {{ task.completeddate | date:config.DATE_FORMAT }}) </span>
                            </header>
                            <div class="panel-body"> {{ task.notes }} </div>
                            <footer class="text-right" ng-style="getFooterStyle(task.categories)">
                                <div ng-if="( config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.OWNER )"><span class="glyphicon glyphicon-user"></span> {{ task.owner }} </div>
                                <div ng-if="( config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.PERCENT )" class="pull-right"> {{ task.percent }}%</div>
                                <div ng-show="( filter.private == privacyFilter.all.value && task.sensitivity == 2 )" class="glyphicon glyphicon-lock"></div>
                                <div ng-if="(task.categories != '')" class="pull-left"><span class="glyphicon glyphicon-tag"></span>
                                    <span ng-repeat="cat in task.categories"><strong ng-style="cat.style">{{ cat.label }}</strong>&nbsp;</span>
                                </div>
                                <div ng-if="( config.COMPLETED_FOLDER.DISPLAY_PROPERTIES.TOTALWORK )" ><span class="glyphicon glyphicon-time"></span> {{ task.totalwork }} </div>
                                <span class="btn-group btn-group-xs">
                                        <button ng-if="(task.oneNoteURL != '')" class="btn btn-default btn-xs" aria-label="OneNote" type="button" ng-click="openOneNoteURL(task.oneNoteURL)"><span class="glyphicon glyphicon-book" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Archive" type="button" ng-click="archiveTask(task,completedTasks,filteredCompletedTasks)"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                <button ng-if="( config.COMPLETED_FOLDER.EDITABLE )" class="btn btn-default btn-xs" aria-label="Edit" type="button" ng-click="editTask(task)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                                <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,completedTasks,filteredCompletedTasks, true)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>

                        </li>
                    </ul>
                </div>
            </div>
            <!-- completed lane -->

        </section>

        <!-- config section -->
        <section ng-if="(inConfigMode())" class="row">
            <form ng-submit="submitConfig(configRaw)">
                <textarea rows="25" cols="150" ng-model="configRaw"></textarea>
                <br/>
                <button id="submitconfig" class="btn btn-primary">Save</button>
                <button id="cancelconfig" class="btn btn-default" type="reset" ng-click="switchToAppMode();">Cancel</button>
            </form>
        </section>
    
        <!-- help section -->
        <section ng-if="(inHelpMode())" class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="panel panel-default">
                    <header class="panel-heading-waiting  text-center"><strong>About...</strong></header>
                    <form ng-submit="switchToAppMode()">
                        <div class="panel-about">
                            JanBan Task Board version 2019.3.11.2
                            <br/>
                            <br/>
                            A Kanban style taskboard for managing your Outlook tasks.<br/>
                            Refactored and taken to the next level by <a href="https://papasmurf.nl/jan/" target="_blank"><strong><i>Jan van Veldhuizen</i></strong></a>.<br/>    
                            <br/>
                            <a href="https://gitlab.com/janware/janban" target="_blank">View on Gitlab</a><br/>
                            <br/>
                            Credits:<br/>
                            <a href="https://github.com/evrenvarol/outlook-taskboard" target="_blank"><strong><i>Evren Varol</i></strong></a>, for developing the very first version of the Kanban board
                            <br/>
                            <a href="https://github.com/Shrekmachine" target="_blank"><strong><i>Shrekmachine</i></strong></a> and 
                            <a href="https://github.com/BillyMcSkintos" target="_blank"><strong><i>BillyMcSkintos</i></strong></a>, for following my developement and doing a lot of useful suggestions
                        </div>
                        <div class="text-center">
                            <button id="back" class="btn btn-default">Ok</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <h2>Configuration options:</h2>
                <table>
                <tr><strong>BACKLOG_FOLDER</strong></tr>
                <tr><td>ACTIVE</td><td>display this folder on the board or not</td></tr>
                <tr><td>FILTER_ON_START_DATE</td><td>if true, then task with start date in the future will not be displayed</td></tr>
                <tr><td>TITLE</td><td>Folder title</td></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><td>LIMIT</td><td>Maximum number of tasks in this folder (0 means no maximum)</td></tr>
                <tr><td>SORT</td><td>The sort order of the tasks</td></tr>
                <tr><td>DISPLAY_PROPERTIES</td><td>Defines the task properties that will be displayed on the task card</td></tr>
                <tr><td>REPORT</td><td>Settings for the status report</td></tr>
                <tr><strong>NEXT_FOLDER</strong></tr>
                <tr><td>ACTIVE</td><td>display this folder on the board or not</td></tr>
                <tr><td>TITLE</td><td>Folder title</td></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><td>LIMIT</td><td>Maximum number of tasks in this folder (0 means no maximum)</td></tr>
                <tr><td>SORT</td><td>The sort order of the tasks</td></tr>
                <tr><td>DISPLAY_PROPERTIES</td><td>Defines the task properties that will be displayed on the task card</td></tr>
                <tr><td>REPORT</td><td>Settings for the status report</td></tr>
                <tr><strong>INPROGRESS_FOLDER</strong></tr>
                <tr><td>ACTIVE</td><td>display this folder on the board or not</td></tr>
                <tr><td>TITLE</td><td>Folder title</td></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><td>LIMIT</td><td>Maximum number of tasks in this folder (0 means no maximum)</td></tr>
                <tr><td>SORT</td><td>The sort order of the tasks</td></tr>
                <tr><td>DISPLAY_PROPERTIES</td><td>Defines the task properties that will be displayed on the task card</td></tr>
                <tr><td>REPORT</td><td>Settings for the status report</td></tr>
                <tr><strong>WAITING_FOLDER</strong></tr>
                <tr><td>ACTIVE</td><td>display this folder on the board or not</td></tr>
                <tr><td>TITLE</td><td>Folder title</td></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><td>LIMIT</td><td>Maximum number of tasks in this folder (0 means no maximum)</td></tr>
                <tr><td>SORT</td><td>The sort order of the tasks</td></tr>
                <tr><td>DISPLAY_PROPERTIES</td><td>Defines the task properties that will be displayed on the task card</td></tr>
                <tr><td>REPORT</td><td>Settings for the status report</td></tr>
                <tr><strong>COMPLETED_FOLDER</strong></tr>
                <tr><td>ACTIVE</td><td>display this folder on the board or not</td></tr>
                <tr><td>TITLE</td><td>Folder title</td></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><td>LIMIT</td><td>Maximum number of tasks in this folder (0 means no maximum)</td></tr>
                <tr><td>SORT</td><td>The sort order of the tasks</td></tr>
                <tr><td>DISPLAY_PROPERTIES</td><td>Defines the task properties that will be displayed on the task card</td></tr>
                <tr><td>REPORT</td><td>Settings for the status report</td></tr>
                <tr><strong>ARCHIVE_FOLDER</strong></tr>
                <tr><td>NAME</td><td>Name of the Outlook tasks folder (blank = default tasks folder)</td></tr>
                <tr><strong>OTHER SETTINGS</strong></tr>
                <tr><td>TASKNOTE_MAXLEN</td><td>Number of characters that are displayed for the tasks details</td></tr>
                <tr><td>TASK_TEMPLATE</td><td>Template to use for new tasks</td></tr>
                <tr><td>DATE_FORMAT</td><td>Date format (must a valid JS date format)</td></tr>
                <tr><td>USE_CATEGORY_COLORS</td><td>if true, then the Outlook category colors will be used</td></tr>
                <tr><td>USE_CATEGORY_COLOR_FOOTERS</td><td>if true, then the Outlook category colors will be used for the entire footer line</td></tr>
                <tr><td>SAVE_STATE</td><td>if true, then the filters will be save dand re-used when the app is restarted</td></tr>
                <tr><td>PRIVACY_FILTER</td><td>if true, then you can use separate boards for private and publis tasks</td></tr>
                <tr><td>STATUS</td><td>Tha value and descriptions for the task statuses. The text can be changed for the status report</td></tr>
                <tr><td>COMPLETED</td><td>Define what to do with completed tasks after x days: NONE, HIDE, ARCHIVE or DELETE</td></tr>
                <tr><td>AUTO_UPDATE</td><td>if true, then the board is updated immediately after adding or deleting tasks</td></tr>
                </table> -->
                    </section>
    
    </div>




</body>

</html>